################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Data/Data.csproj
/Data/Data.csproj
/.vs
